@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
}

/* GLOBAL STYLES */

body,
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/lightpaperfibers.png);
}

button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #08c;
}

button:hover {
  color: #04c;
}

.App {
  display: flex;
}

/* SIDEBAR STYLES */

.Sidebar {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.Sidebar button {
  font-synthesis: weight;
  padding: 4px 12px;
  border: 2px solid rgb(99, 106, 121);
  border-radius: 14px;
  background: white;
}

.Sidebar button:hover {
  background: rgb(226, 226, 226);
}

.Sidebar-header {
  background: rgb(51, 62, 85);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.Sidebar-header h1 {
  margin: 0;
}

.Sidebar-notes {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}

.Sidebar-note {
  padding: 25px;
  cursor: pointer;
}

.Sidebar-note-title {
  display: flex;
  justify-content: space-between;
}

.Sidebar-note button {
  color: crimson;
}

.Sidebar-note button:hover {
  color: rgb(119, 11, 33);
}

.Sidebar-note p {
  margin: 10px 0;
}

.Sidebar-note small {
  background: transparent;
  display: block;
  color: #999;
}

.Sidebar-note:hover {
  background: #ddd;
}

.Sidebar-note.active {
  background: rgb(91, 103, 209);
  color: white;
}

.Sidebar-note.active small {
  color: white;
}

.Sidebar-note.active:hover {
  background: rgb(73, 83, 168);
  color: white;
}

/* NOTE EDITOR/PREVIEW (MAIN) STYLES */

.Body {
  width: 70%;
  height: 100vh;
}

.Body-note-edit,
.Body-note-preview {
  height: 50vh;
}

.No-active-note {
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
  color: #999;
}

/* Editing */
.Body-note-edit {
  padding: 25px;
}

.Body-note-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}

.Body-note-edit input {
  height: 50px;
  font-size: 2rem;
}

/* Preview */
.Body-note-preview {
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.02);
}

.Preview-title {
  padding: 25px 25px 25px 25px;
  margin: 0;
}

.Markdown-preview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
}

/* Unlogged in */

.App-unlogged {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  section {
    width: 100%;
    max-width: 520px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 30px 50px 30px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
  }

  a,
  a:visited {
    color: #fff;
  }


  input[type="text"],
  input[type="password"],
  button,
  textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    padding: 0.25rem;
    border-radius: 0.5rem;
  }

  label,
  button {
    margin-top: 1rem;
  }

  .registration-form {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
    text-align: left;
  }

  .registration-field {
    min-width: 400px;
  }

  .registration-field label {
    display: block;
  }

  .registration-field input {
    width: 100%;
  }

  button {
    padding: 0.5rem;
  }

  .instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
  }

  .instructions>svg {
    margin-right: 0.25rem;
  }

  .offscreen {
    position: absolute;
    left: -9999px;
  }

  .hide {
    display: none;
  }

  .valid {
    color: limegreen;
    margin-left: 0.25rem;
  }

  .invalid {
    color: red;
    margin-left: 0.25rem;
  }

  .errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .line {
    display: inline-block;
  }

  @media (max-width: 600px) {
    .registration-form {
      grid-template-columns: 1fr;
    }
  }
}